body { font-family: Helvetica, Arial, Sans-Serif; font-size: 14px; }

#menu { position: fixed; top: 30px; left: 40px; line-height: 20px; background-color: rgba(255,255,255,0.95); padding: 10px;}
#menu span.subtitle{ display: block; font-style: italic; margin-bottom: 10px; }
#menu a{ display: block; color: black; text-decoration: none; margin-bottom: 2px; font-size: 12px}
#menu a:hover{ text-decoration: underline; }

.page { display: none; padding:0; margin:55px 0 0 200px; width: 600px; }

.page iframe.youtube{ display: block; width: 560px; height: 315px; }
.page iframe.youtube.small{ display: inline-block; width: 187px; height: 105px; }

.portfolio section {display: block; padding:0; margin:0; width:100%}
.portfolio section img,
.portfolio section iframe { display: block; width: 100%; margin:0 0 20px 0}
