body { font-family: Helvetica, Arial, Sans-Serif; font-size: 14px; }
a { color: black; text-decoration: none; margin-bottom: 2px; }
a:hover{ text-decoration: underline; }

#menu { position: fixed; top: 30px; left: 40px; line-height: 20px; background-color: rgba(255,255,255,0.95); padding: 10px; z-index:10;}
#menu span.subtitle{ display: block; font-style: italic; margin-bottom: 10px; }
#menu a{ display: block; font-size: 12px; }


.page { display: none; margin:55px 0 0 250px; width: 600px; background-color: rgba(255,255,255,0.95); padding: 10px 20px; z-index:10;}
.page p.details{ font-size: 12px; color: #666; }
.page a{ display: block; font-weight: bold; }
.page img,
.page iframe { display: block; width: 100%; margin:0 0 20px 0}
.page iframe.youtube{ display: block; width: 600px; height: 337px; }
.page iframe.youtube.small{ display: inline-block; width: 187px; height: 105px; }

.page#page-shortnotion{ display: none; important! }

#backdrop{ position: fixed; top: -10px; left: -5px; display: block; padding:0; margin:0; font-family: monospace; z-index: -1; color: #EEE; font-size: 18px; word-break: break-word}
#backdrop.calibrating{ word-break: normal; }